body {
    font-family: Arial, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
color: blue;}

table {
    border-collapse: collapse;
}

caption {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
}

th, td {
    border: 1px solid rgb(31, 1, 1); background-color: aqua;
    padding: 10px;
}